
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.dark_1{
    color: #181818;
}
.dark_2{
    color: #474747;
}
.dark_3{
    color: #757575;
}
.btn_pimary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 18px 35px;
    border:none;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
    margin-left: 200px;
}
ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
ul li a{
    text-decoration: none;
}
.header-image{
    height: 676px;
    width: 585px;
}

/* header style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    
}

.banner_content{
    max-width: 580px;
}
.banner_greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner_title{
    font-weight: 700;
    font-size: 85px;
}
.btn2{
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}